*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Bold';
    src: url('../fonts/rol.ttf') format('truetype');
}
.colorme a {
color:red;
}

.colorme a:hover{
color:black;
}
.colorme{
  color: gray;
      font-family: 'regular';
text-align: center;
  font-size: 15px;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/ror.ttf') format('truetype');
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
    background-color: #193447;
    font-family: 'regular';
    color:white;
}

a:hover{
    text-decoration: none;
    color: yellow;
}
.leftMenu{
    background-color: #0d1c26;
    width: 155px;
    height: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:2;
}

.leftMenu ul {
    list-style-type: none;
}

.leftMenu ul li {
    color: white;
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
}

.leftMenu ul li:hover{
    background-color: #2d3f4c;
}

.leftMenu ul li a{
    text-decoration: none;
    color:white;
}

.mainContent {
    width: 580px;
    height: 100%;
    text-align: center;
    float: none; 
    font-size: 24px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #81d4fa;
}

.selectBox{
    width: 580px;
    height: 100%;
    background-color: #ffffff;
    float: none; 
    margin: 0 auto;
    border-radius: 5px;
}

.img-circle{
    border-radius: 50%;
}

.titleSelect{
  font-size: 18px;
  text-align: left;
  padding: 20px 20px 20px 20px;
  font-family: 'regular';
  color: rgb(102, 102, 102);
}

.boxSelect2{
 text-align: left;
 background-color: #f1f1f1;
 border-radius: 5px;
}

.boxSelect{
 text-align: left;
 padding: 0px 20px 20px 20px;
}

.clear{
    clear: both;
}

.navbar-header{
    background-color: #0d1c26;
}

a{
    color:white;
    text-decoration: none;
}

.navbar-header button{
    background-color: white;
}

.icon-bar{
    background-color:#0d1c26;
}
.container-fluid{
    background-color: #0d1c26;
}
.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   background-color: #2d3f4c;
   color: white;
}

.nanobar {
  width: 100%;
  height: 5px;
  z-index: 9999;
  top:0
}
.bar {
  width: 0;
  height: 100%;
  transition: height .3s;
  background:#337ab7;
}
.typed-cursor{
    opacity: 1;
    color: gray;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typeWidth{
    padding-left: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
}

.chmapionbhs{
    height: 115px;
    width: 100%;  
    float: left;
}
.chmapionbh{
    height: 115px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0% 30%;
    background-size: 580px 326px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
}

.summonerPhoto{
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;

}

.summonerName {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 115px;
  position: absolute;

  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35);
}

.summonerserver{
    font-size: 18px;
    position: absolute;
    margin-top: 60px;
    margin-left: 115px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35);  
}

.summonerrank{
  font-size: 18px;
  color: rgb(246, 180, 65);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

.stringstyles{
    color:#666666;
    font-size:14px;
}

.buttonNext {
    color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(47, 19, 67);
  border-radius: 5px;
  background-image: -moz-linear-gradient( 0deg, rgb(81,99,149) 0%, rgb(89,83,141) 79%, rgb(97,67,133) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(81,99,149) 0%, rgb(89,83,141) 79%, rgb(97,67,133) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(81,99,149) 0%, rgb(89,83,141) 79%, rgb(97,67,133) 100%);
  width: 197px;
  height: 44px;
  margin-left: 190px;
  text-align:center;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.bannar{
  width: 550px;
  background-repeat: no-repeat, no-repeat;
  background-size: 550px 220px,550px 220px;
  height: 220px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ranknumber {
font-size: 45px;
    font-family: 'regular';
    color: rgb(255, 255, 255);
    line-height: 0.353;
    text-shadow: 0px 3px 0px rgba(201, 144, 52, 0.87);
    -moz-transform: matrix( 0.87215481751262,0,0,0.87215481751262,0,0);
    -webkit-transform: matrix( 0.87215481751262,0,0,0.87215481751262,0,0);
    -ms-transform: matrix( 0.87215481751262,0,0,0.87215481751262,0,0);
    position: absolute;
    margin-left: 43px;
    margin-top: 17px;
    width: 75px;
    text-align: center;
}

.sumoonerpoints {
  font-size: 10px;
  font-family: 'regular';
  color: rgb(38, 37, 37);
  line-height: 2.4;
  -moz-transform: matrix( 1.09845248575168,0,0,1.09845248575168,0,0);
  -webkit-transform: matrix( 1.09845248575168,0,0,1.09845248575168,0,0);
  -ms-transform: matrix( 1.09845248575168,0,0,1.09845248575168,0,0);
  position: absolute;
  margin-left: 68px;
  margin-top: 53px;
  width: 25px;
  text-align: center;
}


.summonerPphoho{
  position: absolute;
  margin-left: 133px;
  margin-top: 7px;
}


.chmpstat{
    font-family: 'regular';

    position: absolute;
    margin-left: 170px;
    text-align: center;
    width: 300px;
    margin-top: 67px;
    color: #333333;
}
.summonernamexxxxx{
    font-family: 'regular';

  position: absolute;
  margin-left: 190px;
  margin-top: 14px; 
}

.summonerserverxx{
    font-family: 'regular';

  position: absolute;
  margin-left: 190px;
  margin-top: 35px; 
}

.double{
  font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 485px;
  margin-top: 183px; 
}
.triple{
  font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 480px;
  margin-top: 152px;
}
.qudra{
    font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 488px;
  margin-top: 122px;
}
.penta{
    font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
  margin-left: 485px;
  margin-top: 92px;
}

.tower{
  font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 330px;
  margin-top: 182px; 
}
.golds{
  font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 325px;
  margin-top: 152px;
}
.farms{
    font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 325px;
  margin-top: 122px;
}
.kda{
  font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 307px;
  margin-top: 92px;
}



.winrate{
  font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 205px;
  margin-top: 182px; 
}
.lost{
  font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 185px;
  margin-top: 152px;
}
.win{
    font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 185px;
  margin-top: 122px;
}
.playedmatch{
  font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
    margin-left: 200px;
  margin-top: 92px;
}

.championgrade{
    font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
  margin-left: 460px;
  margin-top: 30px;
}
.championlevel{
  font-size: 12px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
  margin-left: 465px;
  margin-top: 11px;
}
.summonertypejugne{
  font-size: 10px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
  margin-left: 50px;
  width: 55px;
  text-align: center;
  margin-top: 93px;
      -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}
.summonertypejugnenumber{
  font-size: 14px;
  font-family: 'regular';
  color: rgb(241, 241, 241);
  line-height: 2;
  position: absolute;
  margin-left: 60px;
  width: 55px;
  text-align: center;
  margin-top: 105px;
      -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}

.myimage{
  position: absolute;
}
